.idea/
*.sln.iml

[Bb]in/
[Oo]bj/

appsettings.json
appsettings.Development.json
appsettings.Production.json

*.env
*.env.*
*.pem
*.key

*.db
*.db-wal
*.db-shm
*.sqlite

*.log
[Ll]og/
[Ll]ogs/

.DS_Store